/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  padding: 4px 4px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.copyContent {
  display: flex;
  align-items: center;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  font-weight: bold;
  color: var(--ifm-color-primary);
  background-color: transparent;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--ifm-color-primary);
  position: relative;
}